/*background-color: #333;
border: 1px solid #666;*/


body {
  
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  color: grey;
  
}

a {
	text-decoration: none;
	color: #222;
}

.source {
	color: grey;
	font-size: .8rem;
	
}

.time {
	border: 1px solid lightgrey;
	padding: 3px;
	color: #222;
	border-radius: 3px;
	font-size: .8rem;
}


.container{
	display: flex;
	height: 95vh;
	border-top: solid 1px lightgrey;

}


.left{
	min-width: 200px;
	padding: 10px;
	flex: 1;
	border-right: solid 1px lightgrey;
}

.news{
	
	padding: 10px;
	flex: 3;
	overflow-y: scroll;
}

.right{
	
	padding: 10px;
	flex: 3;
	border-left: solid 1px lightgrey;	
}

.title {
	padding: 10px;
	color: darkorange;
}

.newsItem{
	border-bottom: solid 1px lightgrey;
	padding-left: 10px;
	display: flex;
}


.newsItemRight{
	min-width: 100px;
	text-align: right;
	margin-left: auto;
}



.iframe{
	display: flex;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0 auto;
}


.hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px lightgrey;

}
