body {
	
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
}

.article {
	text-decoration: none;
}

.source {
	color: grey;
	font-size: .8rem;
	
}

.time {
	border: 1px solid grey;
	padding: 3px;
	color: grey;
	border-radius: 3px;
	font-size: .8rem;
}

hr {
	background-color: lightgrey;
}

.container{
	display: flex;
	height: 95vh;
	border-top: solid 1px lightgrey;

}


.left{
	min-width: 200px;
	padding: 10px;
	flex: 1;
	border-right: solid 1px lightgrey;
}

.news{
	
	padding: 10px;
	flex: 3;
	overflow-y: scroll;
}

.right{
	
	padding: 10px;
	flex: 3;
	border-left: solid 1px lightgrey;	
}

.title {
	padding: 10px;
}

.newsItem{
	border-bottom: solid 1px lightgrey;
	padding-left: 10px;
	display: flex;
}


.newsItemRight{
	min-width: 100px;
	text-align: right;
	margin-left: auto;
}