
body {
  
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  color: #888;
  background-color: #333;
  
}

a {
	text-decoration: none;
	color: lightgrey;
}

input {
	background: #444;
	border: none;
	padding: 10px;
	border-radius: 5px;
	border-bottom: 1px solid #666;
	
}

li a {
	text-decoration: none;
	color: #999;
}

.source {
	color: grey;
	font-size: .8rem;
	
}

.time {
	border: 1px solid #444;
	padding: 3px;
	color: lightgrey;
	border-radius: 3px;
	font-size: .8rem;
}


.container{
	display: flex;
	height: 95vh;
	border-top: solid 1px #444;

}


.left{
	padding: 10px;
	flex: 1;
	border-right: solid 1px #444;
}

.news{
	
	padding: 10px;
	flex: 3;
	overflow-y: scroll;
	min-width: 400px;
	
}

.right{
	
	padding: 10px;
	flex: 2;
	overflow-y: scroll;
	border-left: solid 1px #444;	
}

.title {
	padding: 10px;
	color: gold;
}

.newsItem{
	border-bottom: solid 1px #444;
	padding-left: 10px;
	display: flex;
}


.newsItemRight{
	min-width: 100px;
	text-align: right;
	margin-left: auto;
}



.iframe{
	display: flex;
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin: 0 auto;
}


.hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #444;
}


button {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: gold;
	opacity: .9;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}


.box {
	background-color: #333;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-radius: 3px;

}
