
body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

input {
	border: none;
	padding: 10px;
	border-radius: 5px;
}

li a {
	text-decoration: none;
}

.source {
	font-size: .8rem;
	color: grey;
}

.time {
	border: 1px solid lightgrey;
	padding: 3px;
	border-radius: 3px;
	font-size: .8rem;
	color: grey;
}

.container{
	display: flex;
	height: 93vh;
	border-top: solid 1px lightgrey;
	flex-wrap: wrap;
}


.news{
	
	padding: 10px;
	flex: 3;
	overflow-y: scroll;
	min-width: 400px;
	height: 92vh;
	
}

.listings{
	padding: 10px;
	flex: 2;
	overflow-y: scroll;
	border-left: solid 1px lightgrey;	
	height: 92vh;
}

.title {
	padding: 10px;
	color: limegreen;
}

.title img {
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;

}


.newsItem{
	border-bottom: solid 1px lightgrey;
	padding-left: 10px;
	display: flex;
}

.newsItemRight{
	min-width: 100px;
	text-align: right;
	margin-left: auto;
}

.newsImage{
	width: 100px;
	max-height: 80px;
	margin-right: 20px;
	vertical-align: middle;
	padding: 5px;
}

.carImage{
	max-height: 30px;
	max-width: 60px;
}

hr {
	border: 0;
	border-bottom: 1px solid lightgrey;
}


button {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: .8rem;
	background-color: limegreen;
}

.box {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.carName{
	padding-left: 5px;
}

.carPrice{
	opacity: .7;
}

.AppButton{
	position: absolute;
	right: 10px;
	cursor: pointer;
}


.navbar {
    -webkit-box-shadow: 0 1px 3px -1px lightgrey;
    -moz-box-shadow: 0 1px 3px -1px lightgrey;
    box-shadow: 0 1px 3px -1px lightgrey;
    z-index: 100;
}