
body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.input {
	border: 1px solid lightgrey;
	padding: 10px;
	border-radius: 5px;
}

li a {
	text-decoration: none;
}

.source {
	font-size: .8rem;
	color: grey;
}

.time {
	border: 1px solid lightgrey;
	padding: 3px;
	border-radius: 3px;
	font-size: .8rem;
	color: grey;
}

.container{
	display: flex;
	height: 93vh;
	border-top: solid 1px lightgrey;
	flex-wrap: wrap;
}


.news{
	
	padding: 10px;
	flex: 1;
	overflow-y: scroll;
	min-width: 400px;
	height: 92vh;
	
}

.listings{
	padding: 10px;
	flex: 2;
	overflow-y: scroll;
	/*border-left: solid 1px lightgrey;	*/
	height: 92vh;
}

.title {
	color: dodgerblue;
}

.subtitle {
	color: darkgrey;
}

.navbar img {
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}


.newsItem{
	border-bottom: solid 1px lightgrey;
	padding-left: 10px;
	display: flex;
}

.newsItemRight{
	min-width: 100px;
	text-align: right;
	margin-left: auto;
}

.newsImage{
	width: 100px;
	max-height: 80px;
	margin-right: 20px;
	vertical-align: middle;
	padding: 5px;
}

.carImage{
	max-width: 300px !important;
	padding-right: 10px;
}

hr {
	border: 0;
	border-bottom: 1px solid lightgrey;
}

.btn {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: .8rem;
	background-color: dodgerblue;
}

.box {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid lightgrey !important;
}

.carName{

}

.carPrice{
	font-weight: 800
}

.AppButton{
	margin-left: auto !important;
	margin-right: 0 !important;
	text-align: right;

	cursor: pointer;
	border-color: dodgerblue !important;
}


.navbar {
    -webkit-box-shadow: 0 1px 3px -1px lightgrey;
    -moz-box-shadow: 0 1px 3px -1px lightgrey;
    box-shadow: 0 1px 3px -1px lightgrey;
    z-index: 100;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.videoContainer {
    opacity: 1;
    background-color: black;
    width: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

.videoImage {
    max-width: 100%;
    border-radius: 10px;
    opacity: .5;

}

.videoTitle {
    margin: 20;
    justify-content: center;
    font-weight: 700;
    font-size: 30;
    color: white;
}

td {
	width: 100px;
	text-align: center;
	vertical-align: middle;
}